body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
button {
  margin-top: 30px;
  background-image: linear-gradient(to right, red, rgb(136, 136, 44));
  color: wheat;
  border: none;
  border-radius: 2px;
}
.career-path {
  background-image: url("/images/top-banner.png");
  background-repeat: no-repeat;
}
.picture-section1 img,
.picture-section2 img,
.text-section1,
.text-section2 {
  width: 70%;
  height: 100%;
  margin: 10px;
}
.dream-path,
.career-path,
.experience {
  display: flex;
}
.dream-path {
  background-image: url("/images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.text-section2 {
  margin-left: 50px;
}

.full-stack,
.junior {
  box-shadow: 10px 10px 40px gray;
  border-radius: 5px;
  margin: 30px;
  padding: 10px;
  border-left: 5px solid;
  border-image: linear-gradient(to top, red, yellow);
  border-image-slice: 1;
  height: 200px;
}
.experience {
  background-image: url("/images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}
footer {
  text-align: center;
  color: rgb(56, 53, 53);
  font-size: 14px;
}
